@media screen and (max-width:1200px){
    .Destination 
{font-size: 40px;}

        .general-pre-footer{
        gap: 30px;
    }
}

@media screen and (max-width:1055px){
    h1{
        font-size: 48px;
    }
}

@media screen and (max-width:1000px){
    .general__rent-car{
        width: 90%;
    }

    .rent-car__init{
        font-size: 25px;
        top: 9%;
        left: 9%;
    }

    .rent-car__button p{
        left: 60%;
    }

    .footer__contacts{
        gap: 40px;
    }
}

@media screen and (max-width:992px){
    h1{
        font-size: 45px;
        line-height: 40px;
    }
    .Destination 
    {font-size: 30px;}
}

@media screen and (max-width:880px){
    h1{
        font-size: 38px;
    }

    .general__underbtn{
        gap: 30px;
    }
}

@media screen and (max-width:800px){
    .allblocks{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:786px){
    .footer__info{
        gap: 20px;
    }

    .header__info{
        flex-direction: column;
    }

    .general__info{
        width: 100%;
    }

    .header__img{
        width: 100%;
    }
}

@media screen and (max-width:769px){
    .locationMap{
        height: 710px;
    }

    .header__nav{
        align-items: flex-start;
        padding-left: 7%;
    }
}

@media screen and (max-width:768px){
    .nav__choice{
        gap: 25px;
    }

    h1{
        font-size: 34px;
        padding-bottom: 2%;
        padding-top: 3%;
    }

    .header__nav{
        flex-direction: column;
        gap: 10px;
    }

    .general__info p{
        padding-bottom: 5%;
    }

    .footer__info{
        flex-direction: row;
        padding-bottom: 5%;
        gap: 200px;
    }

    .Destination 
    { font-size: 25px;}

    .Block__London
     {padding-left: 10px;
        margin: 4px;}

    .map iframe 
    {height: 400px;}

    .locationMap{
     height: 710px;
 }

 .general-services__block{
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 .other-services__block{
    width: 70%;
 }

 .footer__info{
    gap: 40px;
 }
        
}

@media screen and (max-width:625px){
     .icons{
        gap: 0;
     }   

     .footer__contacts{
        gap: 30px;
     }
}

@media screen and (max-width:576px){
    .header__nav{
        flex-direction: column;
        gap: 15px;
    }

    .general{
        flex-direction: column;
    }

    .general__info{
        width: 100%;
        
    }

    h1{
        padding-top: 10%;
    }

    .header__img{
        width: 100%;
    }

    .mustang{
        width: 90%;
    }

    .icons{
        display: flex;
        flex-direction: row;
        gap: 40px;
    }

    .allblocks {
        display: grid;
         grid-template-columns: repeat(2, 1fr);
         grid-template-rows: repeat(3, 1fr);}
         .Destination
          {font-size: 25px;
                height: 120px;}
            .locationMap 
            { height: 600px;}
            .loc
            { padding-top: 8%;
            font-size: 25px;}
            .name 
            {font-family: 'Be Vietnam Pro';
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 32px;
                letter-spacing: 0.006em;
                color: #FFFFFF;
            }
        
            .map iframe 
            {   height: 300px;}
}

@media screen and (max-width:481px){
    .icons{
        gap: 20px;
    }
}

@media screen and (max-width:320px){
    .header{
        height: 300px;
    }

    .PopularDestination{
        margin-bottom: 1000px;
    }

    .header__nav{
        padding: 7%;
        align-items: baseline;
    }

    .nav__choice{
        flex-direction: column;
        gap: 10px;
    }

    h1{
        font-size: 30px;
    }

    .footer__info{
        gap: 20px;
    }

    .pre-footer__contacts{
        gap: 15px;
    }

    .footer__contacts{
        flex-direction: column;
        gap: 50px;
    }

    .icons{
        flex-direction: column;
        gap: 0;
    }

    .Block__London {
        padding-left: 0;
        margin: 0;}
.allblocks 
{ display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }
    .PopularDestination 
    {height: 1600px;}
    .Destination {
        line-height: 37px;
        font-size: 20px;
    }
    
    .map iframe
     {  height: 250px;
        width: -webkit-fill-available; }

}