@media screen and (max-width:992px){
    h1{
        font-size: 45px;
        line-height: 40px;
    }
}

@media screen and (max-width:768px){
    .nav__choice{
        gap: 25px;
    }

    h1{
        font-size: 34px;
    }

    .footer__info{
        flex-direction: row;
        padding-bottom: 5%;
        gap: 200px;
    }
}

@media screen and (max-width:576px){
    .header__nav{
        flex-direction: column;
        gap: 15px;
    }

    .general{
        flex-direction: column;
    }

    .general__info{
        width: 100%;
        
    }

    h1{
        padding-top: 10%;
    }

    .header__img{
        width: 100%;
    }

    .mustang{
        width: 90%;
    }

    .icons{
        display: flex;
        flex-direction: row;
        gap: 100px;
    }
}

@media screen and (max-width:320px){
    .header{
        height: 300px;
    }

    .header__nav{
        padding: 7%;
        align-items: baseline;
    }

    .nav__choice{
        flex-direction: column;
        gap: 10px;
    }

    h1{
        font-size: 30px;
    }

    .footer__info{
        gap: 20px;
    }

    .pre-footer__contacts{
        gap: 15px;
    }

    .footer__contacts{
        flex-direction: column;
        gap: 50px;
    }

    .icons{
        flex-direction: column;
        gap: 0;
    }

}