@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@700&family=Kurale&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

body {
    background-color: black;
}

.container {
    max-width: 1200px;
    width: 100%; 
    margin: 0 auto;
    padding: 15px;
}

.block__rent-car {
    color: white;
}


.block__rent-car h2 {
    font-family: 'Be Vietnam Pro';
    font-weight: 700;
    text-align: center;
    padding: 30px 0;
    font-size: 50px;
}

.general__rent-car {
    display: flex;
    gap: 22px;
}

.rent-car__block {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.rent-car {
    width: 100%;
    position: relative;
}

.rent-car img {
    width: 100%;
    display: flex;
}

.rent-car__init{
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: 0.006em;
    position: absolute;
    font-size: 30px;
    top: 10%;
    left: 10%;
}

.rent-car__button a {
    display: flex;
}

.rent-car__button p {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.006em;
    color: white;
    position: absolute;
    top: 80%;
    left: 70%;
}

.rent-car__button p::after{
    content: '';
    background-image: url(./img/arrow_right.svg);
    width: 10px;
    height: 16px;
    position: absolute;
    top: 10px;
    right: -15px;
}

.rent-car__button img {
    margin: 8px;
    width: 15px;
    height: 20px;
}

.other-services h2 {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 64px;
    letter-spacing: 0.006em;
    margin: 60px 0px 60px 0px;
    color: white;
}

.other-services-block {
    display: flex;
    gap: 22px;
}

.other-services__block h3 {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.006em;
    color: white;
    padding: 15px 0px 15px 0px;
}

.other-services__block p {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.006em;
    width: 80%;
    height: 15%;
    color: #FFFFFF;
}

