*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 64px;
    letter-spacing: 0.006em;
    text-align: left;
    padding-bottom: 5%;
}

.container{
    max-width: 1200px;
}

.header{
    background: #000000;
    height: 150px;
    padding-top: 2%;
}


.header__nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.nav__choice{
    display: flex;
    gap: 48px;
    flex-wrap: wrap;
}

.nav__choice a{
    text-decoration: none;
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 600;   
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.btn{
    padding: 12px 24px;
    background: #EE8313;
}

.btn a{
    text-decoration: none;
    font-family: 'Be Vietnam Pro';
    font-style: normal; 
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.intro__button{
    background: transparent;
    border: 1px solid #EE8313;
}

.intro__button a{
    color:#EE8313 ;
}

.header__info{
    background-color: #000000;
    color: #FFFFFF;
    max-width: 100%;
}

.general{
    display: flex;
    flex-wrap: wrap;
}

.general__info{
    width: 50%;
    padding-left: 7%;
}

.general__info p{
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    text-align: left;
    padding-bottom: 10%;
}

.header__buttons{
    display: flex;
    gap: 40px;
    padding-bottom: 7%;
    flex-wrap: wrap;
}

.general__underbtn{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.under-button__text{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
}

.under-button__text span{
    font-size: 40px;
    font-weight: bold;
}

.under-button__text p{
    font-family: 'Be Vietnam';  
    font-style: normal;
    font-weight: 600;   
    font-size: 16px;
    line-height: 24px;
}

.header__img{
    width: 50%;
    background: rgba(52, 52, 52, 0.3);
    display: flex;
    justify-content: end;
    align-items: center;
}

.PopularDestination img {
    width: 100%;
}

a {
    text-decoration: none;
}

body {
    background: #000;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.Destination {
    padding: 20px 0;
    letter-spacing: 0.006em;
    text-align: center;
color: white;
font-family: 'Be Vietnam Pro';
font-style: normal;
font-weight: 700;
font-size: 52px;
line-height: 64px;
}

.block {
    display: flex;
    flex-direction: column;
}

.PopularDestination {
    background-color: black;
}
.Block__London {
    height: 100%;
margin-top: 10%;
}

.name {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.006em;
    color: #FFFFFF;
}
.location {
    color: #FFFFFF;
    letter-spacing: 0.0041em;
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    opacity: 0.8;
}
.cost {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.0041em;
color: #FFFFFF;
}
.search {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
     letter-spacing: 0.0041em;
     color: #EE8313;
}
.allblocks {
    padding: 5%;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.locationMap {
    width: 100%;
    padding-top: 162px;
    height: 892px;
    background-color: black;
}
.loc {
    font-family: 'Be Vietnam Pro';
font-style: normal;
font-weight: 700;
font-size: 52px;
line-height: 64px;
text-align: center;
letter-spacing: 0.006em;
color: #FFFFFF;
}
.map iframe{
    margin: 10% 0;
height: 500px;
    width: -webkit-fill-available;
}

.mustang{
    width: 100%;    
}

.pre-footer{
    background-color: #1F1905;
}

.general-pre-footer{
    padding: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer__logo{
    display: flex;
    align-items: center;
    gap: 17px;
    flex-wrap: wrap;
}

.footer__info{
    display: flex;
    flex-direction: column;
    gap: 70px;
    flex-wrap: wrap;
}

.footer__contacts{
    display: flex;
    gap: 80px;
    flex-wrap: wrap;

}

.pre-footer__contacts{
    display: flex;
    flex-direction: column;
    gap: 32px;
    flex-wrap: wrap;

}

.footer__info{
    color: #FFFFFF;
}

.footer__logo p{
    color: #FFFFFF;
}

.pre-footer__contacts span{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;   
    font-size: 18px;
    line-height: 20px;
    color:  #FFFFFF;
}

.pre-footer__contacts a{
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;  
    text-decoration: none;
    color: #FFFFFF;
    opacity: 0.8;
}

.icons{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.icons img{
    width: 100px;
}

.footer{
    height: 70px;
    background: #EE8313;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.footer p{
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    text-align: center;
}